p {
  background: rgb(53, 189, 65);
  color: rgb(105, 105, 105);
  font-size: 30px;
  font-style: normal;
}

h1 {
  background: rgb(255, 0, 0);
  color:rgb(105, 105, 105);
  font-style: normal;
  font-size: 30px;
}

.green {
  background-color: rgb(13,158,0);
  color: aliceblue;
  font-size: 30px;
  font-style: normal;
}

ol {
  background: darkorange;
  background-size: 30px;
}

.kn {
  background-color: rgb(9, 109, 0);
}

.mn {
  background-color: darkgrey;
}

body {
  background-image: url("https://steamuserimages-a.akamaihd.net/ugc/271724616138984267/FD78FE7C4AC9EC2941BACBB457D311B908EA9CCD/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false");
}
